.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

node_modules/
dist/
build/
coverage/

*.log
.env
.env.*
!.env.example
